{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="row justify-content-center">

  <div class="col-md-8">

    <!-- PROFILE CARD -->
    <div class="card p-4 text-center">

      <img src="{{ user.profileImageUrl if user.profileImageUrl else url_for('static', filename='img/avatar.png') }}"
           class="rounded-circle mx-auto profile-avatar"
           width="120" height="120">

      <h3 class="mt-3">{{ user.firstName }} {{ user.lastName }}</h3>

      <p class="text-muted">{{ user.major }}</p>

      <p>{{ user.bio }}</p>

      <a href="{{ url_for('update_profile') }}"
         class="btn btn-outline-primary btn-sm mt-2">
        Update Profile
      </a>

    </div>

    <!-- INTERESTS -->
    <div class="card p-4 mt-3">
      <h5>Interests</h5>

      {% for interest in user.interests %}
        <span class="badge me-1 mb-1">{{ interest }}</span>
      {% endfor %}
    </div>

  </div>

</div>

{% endblock %}